* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    font-family: "Manrope", sans-serif;
}

.container p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container h2 {
    font-size: 50px;
}
.head {
    margin-top: 15px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    list-style: none;
}

.links ul li {
    margin-right: 20px;
}

.links ul li a {
    text-decoration: none;
    color: black;
}

.right-section {
    display: flex;
}

.road {
    display: flex;
}

.road .call-icon {
    margin-right: 10px;
}

.road .line {
    margin-right: 10px;
}
#hero-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
#hero-section .left-section, #hero-section .right-sect {
    width: 50%;
}

.right-sect img {
    height: 80vh;
    width: 100%;
}

.left-section{
    margin-top: 70px;
}
.left-section h1 {
    font-size: 60px;
    font-family: manrope;
}

.btn {
    background-color:#FF6433;
    padding: 16px 40px 16px 40px;
    display: inline-block;
    border: none;
    border-radius: 12px;
    margin-top: 30px;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.left-section .open {
    display: flex;
    padding-top: 30px;
}

.left-section .open #clock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

#open-text .p {
    color: #939191;
    font-size: 16px;
}

.sect2 {
    background-color: #E2E6E9;
    padding: 30px;
}

.list ul li {
    display: flex;
    list-style: none;
    padding-top: 20px;
}

.head1 h2 {
    font-size: 58px;
}

.second-sect .second-left-sect  {
    width: 60%;
}

.second-sect .second-right-sect {
    width: 40%;
}

.list .list-image {
    margin-right: 10px;
}

.list .list-text #pp {
    font-size: 24px;
    margin-top: 10px;

}

.list .list-text p {
    font-size: 18px;
    margin-top: 5px;
}

.know {
    display: flex;
    margin-left: 49px;
    padding-top: 20px;
}

.know .know-image {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.know .know-text a {
    text-decoration: none;
    color: black;
}

.second-sect .second-right-sect h3 {
    font-size: 48px;
}

.second-right-sect .form-sect input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.second-right-sect .form-sect {
    margin-top: 20px;
}

.sect3-body .sect3-left {
    width: 60%;
}

.sect3-body .sect3-right {
    width: 40%;
}

.sect3-left h2 {
    font-size: 58px;
}

.sect3-body {
    margin-top: 100px;
}

.sect3{
    padding: 30px;
}

.lis .list-image {
    width: 10%;
}

.lis .list-image .img img {
    width: 100%;
}

.lis .list-image .line {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.lis .list-image .line img {
    margin-top: 10px;
}

.sect4-body .sect4-text {
    text-align: center;
}

.sect4-body .sect4-list ul {
    display: flex;
    width: 100%;
    padding: 1px;
}

.sect4-body .sect4-list ul li {
    list-style: none;
    width: 100%;
    padding-left: 2px;
}

.sect4-body .sect4-list ul li img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect4{
    background-color: #E2E6E9;
    padding: 30px;
}

.sect4-text h2 {
    font-size: 50px;
}

.sect4-text p {
    font-size: 24px;
}

.know2 {
    display: flex;
    justify-content: flex-end;
}

.sect5 {
    margin-bottom: 10px;
}

.cta {
    background-color: #E2E6E9;
}
.cta .cta-image {
    width: 100%;
}

.cta .cta-image img {
    width: 100%;
}

.cta-list ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cta-list ul li {
    list-style: none;
    margin-top: 20px;
}

.cta-list h2 {
    color: #661CE7;
    /* margin-bottom: 20px; */
}

.cta-list p {
    margin-bottom: 30px;
    font-weight: bold;
}

.sect6-body {
    /* display: flex; */
    padding: 30px;
}

.sect6-list1 ul{
    display: flex;
}

.sect6-list2 ul{
    display: flex;
}

.sect6-list1 ul li {
    list-style: none;
}

.sect6-list2 ul li {
    list-style: none;
}

.sect6-text h2 {
    text-align: center;
    font-size: 40;
    margin-top: 30px;
    font-weight: 700;
}

.sect7 {
    background-color: #F2F2F2;
    padding: 30px;
}

.testimony {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.testimony .left-test, .testimony .right-test {
    width: 40%;
    border: none;
    background-color: white;
    display: inline-block;
    padding: 30px;
}

.testimony .left-test {
    margin-right: 10px;
}

.name {
    display: flex;
}

.name .nam {
    margin-top: 10px;
    margin-left: 10px;
}

.nam .nam1 p {
    font-weight: bold;
}

.arrows {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 10px;
}

.arrows .arr1  {
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    border: none;
    width: 5%;
    display: inline-block;
}

.arr1 img {
    width: 100%;
}

.arrows .arr2 {
    padding: 10px;
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 5%;
    display: inline-block;
    margin-right: 10px;
}

.arrows .lines {
    margin-right: 200px;
}

.sect7-text h3 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 20px;
}

.tttt {
    display:flex;
    align-items: center;
    justify-content: center;
}

.tired {
    display: flex;
    width: 220px;
    height: 180px;
    border: none;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    background-color: white;
    margin-right: 2px;
    margin-bottom: 2px;
}

.tired:hover {
    background-color: #FF6433;
    color: white;
    font-weight: bold;
}

.tired .icon3 img {
    filter: invert(100%);
}

.tired:hover img {
    filter: invert(200%);
}

.ctaimg {
    display: flex;
    width: 100%;
}

.ctaimg .img {
    width: 100%;
}

.orange {
    position: relative;
}

.orange-text {
    position: absolute;
    top: 10px;
    padding: 5px;
}

.orange-text {
    color: white;
    font-size: 25px;
    padding-top: 65px;
    padding-left: 30px;
}

.contact {
    position: absolute;
    bottom: 50px;
    left: 30px;
}

.contact {
    background-color:black;
    padding: 9px 15px 9px 15px;
    display: inline-block;
    border: none;
    border-radius: 9px;
    margin-top: 30px;
}

.orange a {
    text-decoration: none;
    color: white;
}

.sect8 {
    padding: 30px;
    background-color: #E2E6E9;
}

.qa {
    width: 40%;
    padding: 10px 70px 10px 10px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.qa p {
    font-size: 10px;
    font-weight: 500;
    color: #939191;
}

.qa h6 {
    font-size: 14px;
    width:100%;
    font-weight: 600;
}

.sign {
    position: absolute;
    margin-left: 330px;
    width: 10%;
}

.sign img {
    width: 100%;
}

/* .sign .minus a {
    position: relative;
    
} */

.minus img {
    width:20%;
    padding: 10px;
    background-color: #FF6433;
}

.hhh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.frequent h3 {
    text-align: center;
}

.frequent .fre-text {
    margin-bottom: 30px;
}

.sect9 {
    background-color: #1E1B1B;
    padding: 30px;
    color: white;
}

.sect9-right {
    width: 40%;
    margin-top: 40px;
}

.sect9-left {
    width: 50%;
    margin-top: 40px;
}

.sect9-left h3 {
    font-size: 48px;
    font-weight: 700;
}

.left-images {
    display: flex;
}

.left-images img {
    padding: 10px;
}

.sect9-right #p2 p {
    font-size: 10px;
    font-weight: 100;
}

.sect9-right #p2 {
    margin-top: 20px;
}

.sect9-right p {
    margin-top: 5px;
}

.foot {
    background-color: #1E1B1B;
    padding: 30px;
    color: white;
}

.foot .links ul li  a {
    color: white;
}

.foot .links ul {
    margin-right: 120px;
}

.copyright p {
    font-size: 12px;
    color: #939191;
}

@media (max-width: 769px) {
    .container {
        width: 90%;
    }

    #hero-section {
        margin-bottom: 30px;
    }

    .left-section h1 {
        font-size: 45px;
    }

    #hero-section .left-section, #hero-section .right-sect {
        margin-top: 50px;
    }

    .right-sect img {
        height: 70vh;
    }

    .second-sect .second-left-sect {
        width: 50%;
    }

    .second-sect .second-right-sect {
        width: 40%;
    }

    .head1 h2, .second-sect .second-right-sect h3, .sect3-left h2 {
        font-size: 35px;
    }

    .sect3-body {
        margin-top: 30px;
    }

    .sect3-body .sect3-left {
        width: 50%;
        margin-top: 50px;

    }

    .lis .list-image {
        width: 20%;
    }

    .list .list-text #pp {
        font-size: 20px;
    }

    .orange-text {
        padding-top: 10px;
        padding-left: 10px;
        font-size: 19px;
    }

    .contact {
        left: 10px;
        padding: 7px;
        bottom: 20px;
    }

    .sect6 {
        padding: 30px 0;
    }

    .sect6-list1 ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .sect6-list2 ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .arrows .arr2, .arrows .arr1 {
        width: 6%;
    }

    .arrows {
        margin-right: 0;
    }

    /* .testimony .left-test {
        width: 0;
    } */

    .testimony .left-test, .testimony .right-test {
        width: auto;
    }

    .arrows .lines {
        width: 15%;
    } 

    .arrows .lines img {
        width: 80%;
    }

    .qa {
        width: 60%;
    }

    .minus img {
        width:  32%;
    }

    .foot .links ul {
        margin-right: 0;
        padding-left: 30px;
    }
}

@media (max-width: 426px) {
    .head .flex {
        flex-direction: column;
    }

    .right-section {
        flex-direction: column;
    }

    .road .line {
        display: none;
    }

    .right-section .links {
        padding: 10px;
    }

    .links ul {
        flex-direction: column;
    }

    .links ul li {
        padding: 10px;
    }

    #hero-section {
        flex-direction: column;
    }

    #hero-section .left-section, #hero-section .right-sect {
        width: 100%;
    }

    #hero-section .left-section {
        order: 2;
        margin-bottom: 30px;
    }

    #hero-section .right-sect {
        order: 1;
    }

    .left-section h1 {
        font-size: 50px;
    }

    .sect2 .flex {
        flex-direction: column;
    }

    .second-sect .second-left-sect {
        width: 100%;
    }

    .second-sect .second-right-sect {
        width: 100%;
        margin-top: 50px;
    }
    
    .sect3 .flex {
        flex-direction: column;
    }

    .sect3-body {
        margin-top: 50px;
    }

    .sect3-body .sect3-left {
        width: 100%;
    }

    .sect3-left h2 {
        font-size: 45px;
    }

    .sect3-body .sect3-right {
        width: 100%;
        padding-top: 30px;
    }

    .list .list-text #pp {
        margin-top: 0;
    }

    .sect4-text h2 {
        font-size: 35px;
    }

    .tttt {
        flex-direction: column;
    }

    .sect6-list1 ul {
        flex-direction: column;
    }

    .sect6-list2 ul {
        display: none;
    }

    .testimony .left-test, .testimony .right-test {
        width: 100%;
    }

    .testimony {
        flex-direction: column;
    }

    .testimony .right-test {
        margin-top: 10px;
    }

    .testimony .left-test {
        margin-right: 0;
    }

    /* .arrows {
        display: none;
    } */

    .lines {
        display: none;
    }

    .qa {
        width: 100%;
    }
    
    .sign {
        margin-left: 280px;
    }

    .minus img {
        width: 60%;
    }

    .sect9 .flex {
        flex-direction: column;
    }

    .sect9-left, .sect9-right {
        width: 100%;
    }

    .sect9-right {
        margin-top: 0;
    }

    .foot .flex {
        flex-direction: column;
    }

    .orange a {
        bottom: 10px;
        font-size: 6px;
    }

    .contact {
        left: 0;
        padding: 5px 7px 5px 7px;
        border-radius: 0;
    }

    .orange-text {
        padding-top: 0;
        padding-left: 2px;
        font-size: 10px;
    }

    .cta-list p {
        font-size: 8px;
        margin-bottom: 15px;
    }

    .cta-list h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    .sect7-text h3 {
        font-size: 40px;
    }

    .head1 h2 {
        font-size: 50px;
    }

    .right-sect img {
        height: 70vh;
        margin-top: 20px
    }

    .arrows .arr1 {
        width: 15%;
    }

    .arrows .arr2 {
        width: 15%;
    }

    .arrows {
        margin-right: 0;
    }
}
